
*{
    margin: 0;
    padding: 0;
    background-color: transparent;
}
#conteudo{
    width: 95%;
    margin: 0 auto;
}
#barra{
    overflow: hidden;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #faa628;
}
#logo_barra{
    width: 70px;
    float: right;
}
#links_barra ul li{
    list-style: none;
    display: inline-block;
}
#links_barra ul li a{
    font-family: "Lobster", cursive, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 30px;
}
#links_barra ul li a:hover{
    color:#963AA2;
    text-decoration: underline;
    text-decoration-style:dashed;
    background-color: #fcb854;
}
/* estilização banners */
.texto_banner{
    font-family: "Lobster", cursive, sans-serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#banner_home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("midia/waffle.jpeg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner_sobre{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("midia/docinhos.png");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner_contatos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("midia/telemarketing.jpeg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner_produtos{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("midia/crepe.jpeg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#banner_jogo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("midia/jogos.jpeg");
    height: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* estilização dos textos */
body{
    background: #DDD5DE;
}
.rodape{
    padding: 5px;
    text-align: center;
    color: white;
    background-color: #faa628;
    font-family: American Typewriter, serif;;
}
.corpo{
    width: 90%;
    margin: 0 auto;
    font-family: American Typewriter, serif;
    font-size: 17px;
    color: #39293B;
    text-align: center;
}
.titulo{
    padding: 10px;
    text-align: center;
    font-family: American Typewriter, serif;
    color:#39293B;
    font-size: 30px
}
.corpo_contatos{
    width: 100%;
    margin: 0 auto;
    font-family: American Typewriter, serif;
    font-size: 17px;
    color: #39293B;
}
#texto_loc{
    font-size: 25px;
    text-align: center;
}
.links{
    text-decoration: none;
    color: #39293B;
}
.links:hover{
    text-decoration: none;
    color: #963AA2;
}
#conteiner_botao{
    margin: 20px;
    position: relative;
}
#botao button{
    background-color: #faa628;
    top: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    border: transparent;
    font-size: 30px;
    padding: 10px;
    transition-duration: 0.4s;
}
#botao a{
    text-decoration: none;
    font-family: "Lobster", cursive, sans-serif;
    color: white;
}
#botao button:hover{
    background-color: transparent;
    border: #faa628 5px solid;
    font-size: 35px;
}
#botao a:hover{
    color: #963AA2;
}
/* estilização imagem */
.logos{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    width: 40px
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.video{
    width: 42%;
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
}
.imagem_centralizada{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.produtos{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    max-width: 300px;
    border: white 5px solid;
}
.fotos{
    height: 30%;
    border: white 5px solid;
}
/* estilização blocos do contatos */
#blocos_contatos{
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
#bloco_1{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_1 a{
    text-decoration: none;
    color: #39293B;
    margin: 5px
}
#bloco_1 a:hover{
    text-decoration: none;
    color: #963AA2;
}
#bloco_2{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_2 a{
    text-decoration: none;
    color: #39293B;
    margin: 5px
}
#bloco_2 a:hover{
    text-decoration: none;
    color: #963AA2;
}
#bloco_3{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_3 a{
    text-decoration: none;
    color: #39293B;
    margin: 5px
}
#bloco_3 a:hover{
    text-decoration: none;
    color: #963AA2;
}
#bloco_4{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_4 a{
    text-decoration: none;
    color: #39293B;
    margin: 5px
}
#bloco_4 a:hover{
    text-decoration: none;
    color: #963AA2;
}
/* estilização blcoos dos produtos */
#blocos_produtos{
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
#bloco_baixo{
    padding: 10px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
}
#bloco_um{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_dois{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_tres{
    padding:10px;
    width: 30%;
    display: inline-block;
} 
#bloco_quatro{
    padding:10px;
    width: 40%;
    display: inline-block;
} 
#bloco_cinco{
    padding:10px;
    width: 40%;
    display: inline-block;
} 
/* estilização blocos das fotos */
#bloco_fotos{
    padding: 10px;
    width: 100%;
    margin: 0 auto;
}
#foto1{
    padding:10px;
    width: 40%;
    display: inline-block;
}
#foto2{
    padding:10px;
    width: 40%;
    display: inline-block;
}
#foto3{
    padding:10px;
    width: 40%;
    display: inline-block;
}
/* estilização blocos de opnião */
#bloco_textos{
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}
#texto1{
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}
#texto2{
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}
#texto3{
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}
#texto4{
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}
#texto5{
    width: 30%;
    display: inline-block;
    padding: 10px;
    padding-bottom: 20px;
}